<footer>
    <p>Deze site is ook
        <a href="/">beschikbaar in het Nederlands 🇳🇱</a>
    </p>
    <p>The site is hand coded with
        <a href="https://www.11ty.dev">Eleventy</a>,
        <a href="https://tailwindcss.com">Tailwind</a>
        and a lot of coffee. Source code is available at
        <a href="https://github.com/reinier/reinierladan.com">github.com/reinier/reinierladan.com</a>. Feel free to file
                        		issues or open pull requests if you see something that can be improved.
    </p>
</footer>
