<footer>
    <p>This site is also
        <a href="/en/">available in English 🇬🇧</a>
    </p>
    <p>Broncode is te zien op
        <a href="https://github.com/reinier/reinierladan.nl">github.com/reinier/reinierladan.nl</a>
    </p>
</footer>
