<footer>
    <p>Source code is available at
        <a href="https://github.com/reinier/reinierladan.nl">github.com/reinier/reinierladan.nl</a>. Feel free to file issues or open pull requests if you see something that can be improved.
    </p>
</footer>
