@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Captain Edward";
		src: url("/fonts/CaptainEdward-Regular.woff2") format("woff2"),
			url("/fonts/CaptainEdward-Regular.woff") format("woff"),
			url("/fonts/CaptainEdward-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Captain Edward";
		src: url("/fonts/CaptainEdward-Bold.woff2") format("woff2"),
			url("/fonts/CaptainEdward-Bold.woff") format("woff"),
			url("/fonts/CaptainEdward-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	body {
		@apply font-reinier;
		background: #fff url("/images/bg-reinierladan-white.svg") no-repeat
			center -230px/1440px 588px;

		text-rendering: optimizeLegibility;
		font-variant-ligatures: common-ligatures;
		-webkit-font-variant-ligatures: common-ligatures;
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
		font-kerning: normal;

		overflow-x: hidden;
		width: 100%;
	}

	p {
		@apply mb-4;
	}

	header {
		margin-bottom: 9rem; 
	}

	main,
	footer {
		@apply container mx-auto px-8 max-w-prose;
	}

	main p,
	main ul {
		@apply text-xl;
	}

	main ul {
		@apply ml-8 list-disc pb-4;
	}

	main ul li {
		@apply mb-2;
	}

	main p > img {
		@apply my-8;
	}

	footer {
		@apply border-t-4 mt-8 pt-8;
	}

	a {
		text-decoration: underline;
		color: #d83b50;
	}

	h1,
	h3 {
		@apply font-pirate;
		@apply font-bold;
	}

	h1 {
		@apply text-4xl mb-12 p-4;
		text-align: center;
		color: #fff;
		font-weight: 900;
		background-color: #d83b50;
	}

	h2 {
		@apply font-pirate;
		@apply text-3xl my-8 font-bold;
	}

	h3 {
		@apply text-2xl mb-6;
	}

	strong {
		@apply font-extrabold;
	}

	blockquote {
		@apply pl-8;
		color: #333332;
		border-left: 4px solid #999;
		font-style: italic;
	}

	hr {
		margin: 3em 0;
	}
}

@layer components {
	/* NAV COMPONENT */

	.nav-Menu {
		
		margin-top: 0 !important;
		margin-right: 0 !important;
		@apply p-2 flex flex-row gap-2 my-2 mb-0 mr-6 ml-0;
	}

	.nav-Menu .rl-nav-item {
		@apply list-none font-bold text-xl block p-2 my-0 mt-2 mx-0;
		background-color: #fff;
	}

	.nav-Menu .rl-active a {
		color: #000;
	}

	.header-logo {
		width: 64px;
		height: 64px;
	}

	/* END NAV COMPONENT */

	.img-content-rounded {
		@apply flex flex-wrap justify-center pb-8;
	}

	.img-content-rounded img {
		@apply object-cover w-64 shadow-lg object-center rounded-full;
	}

	.img-content {
		@apply flex flex-wrap justify-center m-4 mt-8;

		img {
			@apply object-cover w-2/3 shadow-lg object-center;
		}

		p {
			@apply text-sm mt-3;
		}
	}

	.img-content-group {
		margin: 1em calc(50% - 50vw);
		text-align: center;

		img {
			@apply w-72 shadow-lg;
			display: inline-block;
		}
	}
}

@layer utilities {
	.break-out {
		margin: 1em calc(50% - 50vw);

		> img,
		> a > img {
			@apply mx-auto;
		}
	}

	.gradient-text {
		color: #d83b50;
	}
}
