@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Captain Edward";
		src: url("/fonts/CaptainEdward-Regular.woff2") format("woff2"),
			url("/fonts/CaptainEdward-Regular.woff") format("woff"),
			url("/fonts/CaptainEdward-Regular.ttf") format("truetype");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Captain Edward";
		src: url("/fonts/CaptainEdward-Bold.woff2") format("woff2"),
			url("/fonts/CaptainEdward-Bold.woff") format("woff"),
			url("/fonts/CaptainEdward-Bold.ttf") format("truetype");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
	}

	body {
		@apply font-reinier;
		background: #fff url("/images/bg-reinierladan-white.svg") no-repeat
			center -230px/1440px 588px;

		text-rendering: optimizeLegibility;
		font-variant-ligatures: common-ligatures;
		-webkit-font-variant-ligatures: common-ligatures;
		-webkit-font-feature-settings: "kern";
		font-feature-settings: "kern";
		font-kerning: normal;

		overflow-x: hidden;
		width: 100%;
	}

	p, figure {
		@apply mb-4;
	}

	main,
	footer {
		@apply container mx-auto px-8 max-w-prose;
	}

	main p,
	main ul {
		@apply text-xl;
	}

	main ul {
		@apply ml-8 list-disc pb-4;
	}

	main ul li {
		@apply mb-2;
	}

	main p > img {
		@apply my-8;
	}

	footer {
		@apply border-t-4 mt-8 pt-8;
	}

	a {
		text-decoration: underline;
		color: #d83b50;
	}

	h1,
	h3 {
		@apply font-pirate;
		@apply font-bold;
	}

	h1 {
		@apply text-4xl mb-12 p-4 mt-40;
		text-align: center;
		color: #d83b50;
		font-weight: 900;
		/* background-color: #d83b50; */
		/* background: #fff url("/images/bg-balloons.jpg") no-repeat center; */
		/* background-clip: text;
		-webkit-background-clip: text;
		color: rgba(0, 0, 0, 0.1); */
	}
	
	h1.home-title {
		@apply mt-4;
	}

	h2 {
		@apply font-pirate;
		@apply text-3xl my-8 font-bold;
	}

	h3 {
		@apply text-2xl mb-6;
	}

	strong {
		@apply font-extrabold;
	}

	blockquote {
		@apply p-8 m-4;
		color: #333332;
		border: 4px solid #999;
	}

	blockquote p {
		margin: 0;
	}

	blockquote em {
		@apply font-bold text-lg;
	}

	hr {
		margin: 3em 0;
	}

	code {
        background-color: #ddd;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        padding-right: 0.3em;
        padding-left: 0.3em;
    }
}

@layer components {
	/* NAV COMPONENT */

	.nav-Menu {
		
		margin-top: 0 !important;
		margin-right: 0 !important;
		@apply p-2 flex flex-row gap-2 my-2 mb-0 mr-6 ml-0;
	}

	.nav-Menu .rl-nav-item {
		@apply list-none font-bold text-xl block p-2 my-0 mt-2 mx-0;
		background-color: #fff;
	}

	.nav-Menu .rl-active a {
		color: #000;
	}

	.header-logo {
		width: 64px;
		height: 64px;
	}

	/* END NAV COMPONENT */

	.home-profile-image {
		@apply mt-16;
	}

	.img-content-rounded {
		@apply flex flex-wrap justify-center pb-8;
	}

	.img-content-rounded img {
		@apply object-cover w-64 shadow-lg object-center rounded-full;
	}

	.img-content {
		@apply flex flex-wrap justify-center m-4 mt-8;

		img {
			@apply object-cover w-2/3 shadow-lg object-center;
		}

		p {
			@apply text-sm mt-3;
		}
	}

	.img-content-group {
		margin: 1em calc(50% - 50vw);
		text-align: center;

		img {
			@apply w-72 shadow-lg;
			display: inline-block;
		}
	}

	.project-list ul li {
		@apply mb-5;
	}

	.project-list ul li a {
		@apply font-extrabold text-2xl;
	}

	.project-list ul li em:before { content: ' '; display: block; }

	.lb-design,
	.lb-product {
		@apply text-xs mr-2 p-1 px-2;
		text-transform: uppercase;
		display: inline-block;
		color: #fff;
		border-radius: 4px;
	}

	.lb-design {
		background-color: #FF8A00;
	}

	.lb-product {
		background-color: #1400FF;
	}

	.more-testimonials {
		margin-top: 3em;
	}
}

@layer utilities {
	.break-out {
		margin: 1em calc(50% - 50vw);

		> img,
		> a > img {
			@apply mx-auto;
		}
	}

	.gradient-text {
		color: #d83b50;
	}
}
