---
layout: layouts/base-en.njk
title: Freelance product manager Reinier Ladan
description: Remote product management and consulting for product and design teams
eleventyExcludeFromCollections: true
---

<div class="img-content-rounded">
    <img src="/images/reinier-profile-2019.jpg" width="256" height="256" alt="profile picture of Reinier Ladan"/>
</div>
<h1 class="text-center">Hi, I'm Reinier Ladan.</h1>
<div class="site-intro">
    <p>As a seasoned professional in the media and tech industry, I have over two decades of experience in managing product teams, designing user interfaces, and building prototypes.</p>
    <p>I am confident that my extensive experience and proven track record of success make me a valuable addition to any tech and design team looking to bring their product vision to life.</p>
    <p class="mb-12">🇳🇱 Deze site is ook
        <a href="/">in het Nederlands</a>
        beschikbaar.
    </p>
</div>
<div class="py-8">
    <p>
        <a href="/en/freelance" class="font-bold text-3xl">/freelance</a><br>Read more about my professional work as a product manager and design consultant.</p>
</div>
<div class="pb-8">
    <p>
        <a href="/en/blog" class="font-bold text-3xl">/blog</a><br>Sometimes I write a blog post. When that happens, you can find it here.</p>
</div>
<div class="pb-8">
    <p>
        <a href="/en/contact" class="font-bold text-3xl">/contact</a><br>All the different ways you can reach out to me.</p>
</div>
