---
layout: layouts/base.njk
title: Freelance product manager Reinier Ladan
eleventyExcludeFromCollections: true
---

<div class="img-content-rounded">
	<img src="/images/reinier-profile-2019.jpg" alt="profile picture of Reinier Ladan" />
</div>

<h1 class="text-center">Hi, I'm Reinier Ladan 👋</h1>


<div class="site-intro text-center">
	<p>Since the late 90s I’ve been creating digital products by managing product teams, designing user interfaces, and
		building prototypes. The last 7 years I’ve focused all my time and energy on <strong>product management and
			consulting product and design teams.</strong></p>
</div>

<div class="py-8">
	<p><a href="/freelance/" class="font-bold text-3xl">/freelance</a><br>Read more about my professional work as a
		product manager and design consultant.</p>
</div>

<div class="pb-8">
	<p><a href="/blog" class="font-bold text-3xl">/blog</a><br>Sometimes I write a blog post. When that happens, you can
		find it here.</p>
</div>

<div class="pb-8">
	<p><a href="/contact" class="font-bold text-3xl">/contact</a><br>All the different ways you can reach out to me.</p>
</div>
