---
layout: layouts/base.njk
title: Freelance product manager Reinier Ladan
eleventyExcludeFromCollections: true
---

<div class="img-content-rounded">
    <img src="/images/reinier-profile-2019.jpg" width="256" height="256" alt="profile picture of Reinier Ladan"/>
</div>
<h1 class="text-center gradient-text">Hi, Reinier hier.</h1>
<div class="site-intro">
    <p>Als
        <a href="/freelance">freelance product manager</a>
        en design consultant help ik organisaties bij het opstarten, lanceren en doorontwikkelen van digitale producten en diensten.
    </p>
    <p class="mb-12">🇬🇧 This site is also
        <a href="/en">available in English</a>.
    </p>
</div>
<div class="py-8">
    <p>
        <a href="/freelance" class="font-bold text-3xl">/freelance</a>
        <br/> Lees meer over mijn freelance werkzaamheden als product manager en design consultant.
    </p>
</div>
<div class="pb-8">
    <p>
        <a href="/blog" class="font-bold text-3xl">/blog</a>
        <br/>Soms schrijf ik hier iets persoonlijks of een inzicht dat mijn vak raakt.<br/>
    </p>
</div>
<div class="pb-8">
    <p>
        <a href="/contact" class="font-bold text-3xl">/contact</a>
        <br/>Zoek je contact met me? Vragen, voorstellen, opmerkingen, feedback, alles is welkom.</p>
</div>
